html{
    font-family: "Helvetica", "Arial", "Times New Roman";
}

.el-header{
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: dodgerblue;
    line-height: 60px;
}