"""
This document is used for production in order for each individual to configure its own instance of the project
without the need of sharing passwords nor uploading confidential information to the repository where the project
resides. This information and is used in the setting.py for personal configuration along with the function
get_secrets. Take out the .dist from the file name and add your personal database configuration in order for the
project to run.
"""

{
  "SECRET_KEY": "ASecretKey",
  "ALLOWED_HOSTS": [
    "*"
  ],
  "DB_NAME": "DBNAME",
  "DB_HOST": "DBHOST",
  "DB_USER": "DBUSER",
  "DB_PASSWORD": "DBPASSWORD",
  "DB_PORT": "DBPORT",
  "DEBUG": 1
}