<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>
    <div id="app">
        <el-container>
            <el-header> Risks </el-header>
        </el-container>
        <el-main>
            <el-row>
                <el-col :span="16" :offset="4">
                    <el-card class="box-card">
                        <el-tabs type="border-card">

                            <!-- CREATE LISTS TABS -->
                            <el-tab-pane label="Create Risks">
                                <el-row>
                                    <el-col :span="12">
                                        <el-select v-model="value" placeholder="Select">
                                            <el-option v-for="item in options"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-col>
                                    <el-col :span="12" >
                                        <el-button id="add-btn" style="float: right" type="primary" >Add</el-button>
                                    </el-col>
                                </el-row> <!-- End Row -->

                                <el-row>
                                    <el-col>
                                    
                                    </el-col>
                                </el-row>

                                <!-- LIST RISKS TAB -->
                            </el-tab-pane>
                            <el-tab-pane  label="List Risks">
                                <!-- THIS MIGHT LOOK GOOD IN A COMPONENT -->
                                <el-button type="primary"  @click="getRisksList">List Risks</el-button>
                                <el-collapse value="1" accordion>
                                    <el-collapse-item v-for="risk in risks" :key="risk.id" :title="risk.name" :name="risk.id">
                                        <h3>${risk.risk_type[0].type}</h3>
                                        <ul>
                                            <li v-for="field in risk.risk_type[0].risk_field" :key="field.id">
                                                <div>${field.field}</div>
                                                <div v-if="field.enum_field.length != 0 ">
                                                    ${field.enum_field[0].value}
                                                </div>
                                                <div v-else-if="field.text_field.length != 0 ">
                                                    ${field.text_field[0].value}
                                                </div>
                                                <div v-else-if="field.date_field.length != 0 ">
                                                    ${field.date_field[0].value}
                                                </div>
                                                <div v-else="field.number_field.length != 0 ">
                                                    ${field.number_field[0].value}
                                                </div>
                                            </li>
                                        </ul>
                                    </el-collapse-item>
                                </el-collapse>

                            </el-tab-pane>
                        </el-tabs>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </div>

    <!-- import JavaScript -->
    <script src="{% static 'vue.js' %}"></script>
    <script src="{% static 'axios.min.js' %}"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>